* {
    box-sizing: border-box;
}

#center-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    background-color: #2f404d;
}

.head-container {
    background-color: #b0acb0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h1 {
    margin: 0;
    padding: 10px 0;
}

p,
h2 {
    margin: 0 20px;
    padding: 10px;
}

section {
    padding: 10px 0px 10px;
    color: #ffffff;
}

.begin {
    background-image: url(../images/wood-background.jpg);
}

.midden {
    background-image: url(../images/process-background.jpg);
    text-align: right;
}

.eind {
    background-image: url(../images/future-background.avif);
}

.logo-container {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

img {
    background-color: white;
    width: 200px;
}

.logo {}

.process-pics {
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    border: 2px solid black;
}

.features {
    text-align: center;
    padding: 20px;
    background-color: #b0acb0;
    border-bottom: 2px solid black;
    padding-bottom: 60px;
}

.feature-cards {
    display: flex;
    gap: 30px;
}

.feature-cards article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 1vw;
    border: 2px solid black;
    justify-content: space-between;
    max-width: fit-content;
    background-color: #3d898d
}

.feature-cards article img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 1vw;
    border: 1px solid black;
}

.feature-cards article a {
    text-decoration: none;
    color: black;
    background-color: #e2dddf;
    padding: 5px 10px;
    border-radius: 1vw;
    border: 2px solid black;
}

.feature-cards article:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.feature-cards article a:hover {
    transition: 0.3s;
    color: #e2dddf;
    border: 2px solid #e2dddf;
    background-color: #2f404d;
}

.interactive-map {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #85ebd9;
    border-bottom: 2px solid black;
}

.interactive-map iframe {
    width: 80%;
    height: 500px;
}

footer {
    width: auto;
    height: 100px;
    background-color: #2f404d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.right-side {
    display: flex;
    gap: 20px;
}

.right-side a {
    text-decoration: none;
    color: white;
}